src/main/java/resources/VideoGameXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="VideoGame">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:byte" />
                <xs:element name="name" type="xs:string" />
                <xs:element name="releaseDate" type="xs:string" />
                <xs:element name="reviewScore" type="xs:byte" />
                <xs:element name="rating" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="category" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>